.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="/") CodeGurukul
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="/") Home
      .navbar-right
        form.navbar-form(action="/signin" method="post")
          .form-group
            input.form-control(placeholder="Username" name="username")
          .form-group
            input.form-control(type="password" placeholder="Password" name="password")
          button.btn.btn-primary Sign In
        form.navbar-form(action="/signup")
          button.btn.btn-primary Sign Up